/*****************************************
*main css file for portfolio site                        *
*created by @vybekid1                                     *
* on March 2021                                                *
******************************************/
body {
    font-size: 16px;
    letter-spacing: 0.01rem;
    font-family:Arial, Helvetica, sans-serif;
    position:relative;
}

nav {
    background-color: #003d00;
    color: rgb(253, 253, 253);
    padding: 5px;
    line-height: 40px;
    font-size: 0.35rem;
}

nav a{
    border: brown 2px solid;
    padding: 5px;
}


table {
    border-collapse: collapse;
}

img {
    max-width: 200px;
    min-width: 50px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: brown;

}
main .column{
    float: right;
    width: 50%;
}
.navbar{
    float: right;
}
main{
    background:#fff url("pic.png") ;
    padding:1px;
    
}
footer {
    background-color: #629749;
}

footer ul li {
    list-style: none;
}

span{
    font-weight: 500;
    text-decoration: underline;
    text-align: center;
}
footer p  {
    text-align: center;
}
#right,#left{
    float: left;
    width: 20%;
    background:teal;
    margin: 0px;
    padding: 3px;
    font-size: 0.15rem;
    text-align: center;
}
.blog{
    display: flex;
    border-spacing: 5px;
}
#center{
    width: 60%;
    background:white;
}