/*****************************************
*main css file for portfolio site          *
*created by @vybekid1                    *
* on March 2021                              *
*****************************************/
body {
    font-size: 16px;
    letter-spacing: 0.1rem;
}

nav {
    background-color: #003d00;
    color: rgb(253, 253, 253);
    height: 40px;
    line-height: 50px;
    text-align: center;
}

header {
   background-color: #30611d;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 0.75rem;
   font-weight: bold;
}

table {
    border-collapse: collapse;
}

a {
    color: white;
    text-decoration: none;
}

main{
    background:#fff url("/images/pic.png") ;
}

a:hover {
    color: peru;
}

footer {
    background-color: #629749;
}

footer ul li {
    list-style: none;
}

footer p  {
    text-align: center;
}
